:root {
	--container-width: 1200px;
	--container-padding: 15px;

	--font-main: sans-serif;
	--font-accent: 'Manrope', sans-serif;
	--font-titles: var(--font-accent);

	--page-bg: #fff;
	--text-color: #000;
	--accent: #ac182c;
	--link-color: #2578c8;


    --laptop-size: 1199px;
	--tablet-size: 959px;
	--mobile-size: 599px;
}

.dark {
    --page-bg: #252526;
    --text-color: #fff;
}

/* Colors */

$color-bg-dark: #030303;
$color-red-dark: #710707;
$color-font-gd: #9d8665;
$color-active-gd: #7E6C51;
$color-pag-gd: #D2B183;
$color-black: #000000;
$color-white: #ffffff;
$color-bg-light: #dbdbdb;

/* Fonts */

$font-roboto: "Roboto", "Arial", sans-serif;
// $font-roboto-regular: "Roboto-Regular", "Arial", sans-serif;
// $font-forum: "Forum", "Arial", serif;