.seting {
    position: absolute;
    top: -550px;
    left: 25%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 50%;
    height: 50%;
    padding: 0;
    margin: 0 auto;
    background-color: pink;
    border: 1px solid black;
    transition: all 0.2s ease-in;
}

.seting.seting--active {
    display: flex;
    top: 50px;
    transition: all 0.2s ease-in;
}

.seting--form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: max-content;
    height: max-content;
    padding: 0;
    margin: 0 auto;
}

.seting__form-btn {
    position: absolute;
    display: block;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0 auto;
    background-color: transparent;
    &::before {
        position: absolute;
        content: '';
        display: block;
        width: 20px;
        height: 3px;
        padding: 0;
        margin: 0 auto;
        background-color: black;
        transform: rotate(45deg);
    }
    &::after {
        position: absolute;
        content: '';
        display: block;
        width: 20px;
        height: 3px;
        padding: 0;
        margin: 0 auto;
        background-color: black;
        transform: rotate(-45deg);
    }
}
